<h3><i class="fas fa-stroopwafel <!--alt logo fas fa-border-none -->"></i> StitchGress</h3>
<div class="section">
  <p class="lead">Track and share all your stitching projects</p>
</div>
<div class="divider"></div>
<div class="section">
  <a href="/auth/google" class="btn teal lighten-2">
    <i class="fab fa-google left"></i> Log In With Google
  </a>
</div>